S3method(aggregate,HourlyConcentrations)
S3method(as.SpatialLines,FreeFlowLinks)
S3method(lines,FreeFlowLinks)
S3method(plot,FreeFlowLinks)
S3method(plot,Meteorology)
S3method(predict,Caline3Model)
export("units<-")
export(Caline3Model)
export(FreeFlowLinks)
export(ISCFile)
export(LinkType)
export(Meteorology)
export(Pasquill)
export(Pollutant)
export(ReceptorGrid)
export(ReceptorRings)
export(aggregate.HourlyConcentrations)
export(as)
export(as.SpatialLines.FreeFlowLinks)
export(as.data.frame.FreeFlowLinks)
export(is.installed)
export(lines.FreeFlowLinks)
export(plot.FreeFlowLinks)
export(plot.Meteorology)
export(predict.Caline3Model)
export(read.shp)
export(real4)
export(sample.data.frame)
export(units)
importClassesFrom(sp,SpatialLines,SpatialLinesDataFrame)
importClassesFrom(sp,SpatialLinesDataFrame)
importClassesFrom(sp,SpatialPointsDataFrame)
importFrom(stats,aggregate)
importFrom(stats,predict)
