importClassFrom(sp, SpatialPoints)
importClassFrom(sp, SpatialPointsDataFrame)
importClassFrom(sp, SpatialLines)
importClassFrom(sp, SpatialLinesDataFrame)
importFrom(stats, predict)
export(Pasquill)
export(FreeFlowLinks)
exportPattern("^[[:alpha:]]+")
